body {
    font-size: medium;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: 0;
    text-align: center;
}

form {
    font-size: 30px;
}
label .plaintext_label {
    text-align: center;
}

body p {
    font-size: large;
}
